#firebase-settings-form input,
#onesignal-settings-form input {
    margin-bottom: 8px;
}
#firebase-settings-form label,
#onesignal-settings-form label {
    margin-top: 8px;
}
#firebase-settings-form .btn-primary,
#onesignal-settings-form .btn-primary {
    margin-top: 12px;
}
